<header class="bg-dark text-white text-center py-2">
    <h1>シフト作成</h1>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item"><%= link_to 'Home', root_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Create', new_shift_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Contact', "#", class: 'nav-link' %></li>
        </ul>
    </nav>
</header>